@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: gilroy;
}

/* set scrollbar height and weidth to 0 so that it will be removed from page */
::-webkit-scrollbar{
    width: 0px;
    height:0px;
    background-color: rgb(134, 40, 196)
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-text-shadow {
    text-shadow: 8px 8px 18px rgba(10, 10, 10, 0.6); 
  }

  .landingMain{
    background-image: url('/background.png');
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }